body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: rgba(255, 255, 0, 0.562);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hiddin {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adminka {
  padding-top: 50px;
}

.adminka-wrapper {
  display: flex;
  height: 500px;
}

.adminka-cards {
  background-color: rgb(219, 210, 210);
  max-width: 400px;
  padding: 40px 0 0 40px;
  overflow: auto;
}

.adminka-card-top {
  display: flex;
  margin-bottom: 40px;
}

.adminka-card__header {
  color: #444;
}

.button__add {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  padding-right: 60px;
}

.input-wrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}
.input-wrapper:not(last-child) {
  margin-bottom: 20px;
}
.card {
}


/* BALANCE SECTION  */
.balance {
  background-color: #fff;
  padding: 50px;
  width: 500px;
  height: 500px;
overflow: auto;
}

.balance-top {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

.balance__heading {
  margin-right: auto;
  color: #444;
}

.balnace-top__money {

}
.products-list {
  list-style: none;
  overflow: auto;
  padding-left: 0;
}
.products-item {
  display: flex;
  margin-top: 20px;
}

.product-button {
  background-color: transparent;
  /* border: 1px solid #ccc; */
  /* border-radius: 50%; */
  border: none;
  padding: 0;
}

.balance-content {
  margin-left: 30px;
  margin-right: auto;
}

.balance__headeing__buttom {
  font-size: 18px;
  text-transform: capitalize;
}

.balance__text {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;

}

.price {
  color: #734488;
}
@media only screen and (max-width: 900px) {
  .adminka-wrapper {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .adminka-cards {
    width: 700px;
  }
}
@media only screen and (max-width: 700px) {
 .balance {
   width: 400px;
 }
}