body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: rgba(255, 255, 0, 0.562);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.adminka {
  padding-top: 100px;
}

.adminka-wrapper {
}

.adminka-cards {
  background-color: rgba(204, 204, 204, 0.829);
  max-width: 400px;
  padding: 40px;
}

.adminka-card-top {
  display: flex;
}

.adminka-card__header {
  color: #222;
}

.button__add {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;


}